body {
  overflow: hidden;
}

.btn {
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

input.search-and-command {
  width: 100%;
}

.word-history-container {
  display: inline-block;
  width: 20%;
  min-width: 75px;
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 0;
}

.word-history-list {
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.word-history-list::-webkit-scrollbar {
  display: none;
}

.word-history-word {
  padding: 10px;
  border-bottom: 1px solid #ededed;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.word-history-word:hover {
  color: #212529;
  background-color: #e2e6ea;
}

.word-history-word.word-selected:hover {
  background-color: #4198f6;
}

.word-selected {
  background-color: #81beff;
}

.word-definition {
  width: 77%;
  right: 0;
  top: 30px;
  height: 90%;
  overflow-y: scroll;
  position: absolute;
  display: inline-block;
  list-style: none;
  left: 23%;
}

.word-definition::-webkit-scrollbar {
  width: 12px;
}

.word-definition::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.word-definition::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0x60, 0x60, 0x60, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.word-definition::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0x60, 0x60, 0x60, 0.4);
}

.kr-mean {
  font-size: 30px;
  word-break: break-all;
}

.kr-mean:before {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(63, 135, 166);
  content: "";
  display: block;
  width: 100%;
  block-size: 10px;
}

.en-mean {
  word-break: break-all;
}

.en-mean:before {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(63, 135, 166);
  content: "";
  display: block;
  width: 100%;
  block-size: 10px;
}

.ex-sen {
  word-break: break-all;
}

.ex-sen:before {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(63, 135, 166);
  content: "";
  display: block;
  width: 100%;
  block-size: 10px;
}

.ex-sen-list {
  height: 100%;
  font-size: 20px;
  list-style-type: upper-roman;
  list-style-position: initial;
  list-style-image: initial;
}