body {
  overflow: hidden;
}

.btn {
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.commandbox {
  display: flex;
}

input.search-and-command {
  width: 90%;
}

.mode-indicator {
  min-width: 80px;
  width: 8%;
  padding: 2px 0;
  text-align: center;
  margin-left: 4px;
  background-color: rgb(57, 153, 255);
  border-radius: 0.25rem;
  display: inline-block;
  color: #fff;
}

.mode-indicator.no-result {
  background-color: #c82333;
}

.word-list-container {
  display: inline-block;
  width: 20%;
  min-width: 75px;
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 0;
}

.word-list {
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.word-list::-webkit-scrollbar {
  display: none;
}

.word-list-item {
  padding: 10px;
  border-bottom: 1px solid #ededed;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.word-list-item:hover {
  color: #212529;
  background-color: #e2e6ea;
}

.word-list-item.word-selected:hover {
  background-color: #4198f6;
}

.word-list-item .word-small-definition {
  font-size: smaller;
  word-break: break-word;
}

.word-selected {
  background-color: #81beff;
}

.word-match {
  font-weight: 600;
}

.word-definition {
  width: 77%;
  right: 0;
  top: 30px;
  height: 90%;
  overflow-y: scroll;
  position: absolute;
  display: inline-block;
  list-style: none;
  left: 23%;
}

.word-definition::-webkit-scrollbar {
  width: 12px;
}

.word-definition::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.word-definition::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0x60, 0x60, 0x60, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.word-definition::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0x60, 0x60, 0x60, 0.4);
}

.big-word {
  padding-right: 8px;
  font-size: 4vw;
  color: #0000cd;
}

.pronounce {
  padding-right: 8px;
}

.pronounce-play {
  vertical-align: text-bottom;
  padding-left: 4px;
}

.kr-mean {
  font-size: 30px;
  word-break: break-all;
}

.kr-mean:before {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(63, 135, 166);
  content: "";
  display: block;
  width: 100%;
  block-size: 10px;
}

.mean-list {
  list-style: none;
  font-size: 24px;
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
  overflow: hidden;
}

.mean-list li {
  float: left;
  padding-right: 16px;
}

.detail-def-cont {
  word-break: break-all;
}

.detail-def-cont:before {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(63, 135, 166);
  content: "";
  display: block;
  width: 100%;
  block-size: 10px;
}

.detail-def {
  padding-left: 16px;
}

.ex-sen {
  word-break: break-all;
}

.ex-sen:before {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(63, 135, 166);
  content: "";
  display: block;
  width: 100%;
  block-size: 10px;
}

.ex-sen-list {
  height: 100%;
  font-size: 16px;
  list-style-type: upper-roman;
  list-style-position: initial;
  list-style-image: initial;
}